@model Group
@{
    ViewData["Title"] = "Group Info";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="d-flex align-items-center">
            <div class="pr-3" style="font-size: 25px">
                <a href="@Url.Action("Index", "Group")">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            </div>
            <h3 class="mb-1">Group Info</h3>
        </div>
    </div>

    <div class="pt-2">
        <div>
            <div class="offer-details">
                <h4 class="mb-0 mt-2">@Model.Name</h4>

                <label>Creator:</label>
                <div class="content">@ViewData["CreatorName"]</div>

                <div class="pt-4">
                    <a href="@Url.Action("AddMember","Group", new {id= Model.Id })"
                       class="btn btn-lg btn-primary">
                        <i class="fas fa-user-plus pr-2"></i>Add Group Member
                    </a>
                    <a href="@Url.Action("Delete", new {id= Model.Id })"
                       class="btn btn-lg btn-danger">
                        <i class="fas fa-trash-alt pr-2"></i>Delete this group
                    </a>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Group/MembersTable.cshtml", Model.Memberships)

        <div class="pt-4">
            <a href="@Url.Action("Create","Event", new {id= Model.Id })"
               class="btn btn-primary btn-lg"><i class="fa fa-calendar-plus pr-2"></i>Create Event</a>
        </div>
        @await Html.PartialAsync("~/Views/Event/EventsTable.cshtml", Model.Events, new ViewDataDictionary(ViewData)
                                {
                                    { "showGroup", false }
                                })
    </div>
</div>