@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Event
@{
    ViewData["Title"] = "Event Info";
}

<div class="panel panel-default">
    <div class="d-flex align-items-center">
        <div class="pr-3" style="font-size: 25px">
            <a href="@Url.Action("GetGroupInfo", "Group", new { id = Model.GroupId })">
                <i class="fas fa-chevron-circle-left"></i>
            </a>
        </div>
        <h3 class="mb-1">Event Info</h3>
    </div>

    <div class="pt-2">
        <h4 class="mb-0 mt-2">@Model.EventName</h4>

        <label>Date:</label>
        <p class="content">@Model.DateTime</p>

        <div class="pt-4">
            <a asp-action="AddPreferences" asp-route-id="@Model.Id" class="btn btn-lg btn-primary">
                <i class="fas fa-edit pr-2"></i>Add Member Preferences
            </a>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Group/MembersTable.cshtml", Model.Group.Memberships, new ViewDataDictionary(ViewData)
                                {
                                    { "eventId", Model.Id }, { "showPreference", true }
                                })

    <div id="map" style="height: 400px"></div>

    <div class="pt-2">
        <a href="@Url.Action("Delete", new {id= Model.Id })" class="btn btn-lg btn-danger mx-2">
            <i class="fas fa-trash-alt pr-2"></i>Delete this event
        </a>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("../../style_silver.js")"></script>
<script type="text/javascript">

    function initMap() {
        var map_center = { lat: @ViewData["locationlat"], lng: @ViewData["locationlng"] };
        generateMap(map_center);
    }

    function generateMap(map_center) {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: map_center,
            disableDefaultUI: true,
            styles: style_silver // or style_retro
        });

        @foreach(var member in Model.Group.Memberships)
        {
            @if (member.User.Location != null)
                    { <text>
                        placeMarker({ lat: @member.User.Location.Lat, lng: @member.User.Location.Lng }, "@member.User.Location.Address");
                     </text>
                }
        }

        function placeMarker(location, title) {
            var userMarker = new google.maps.Marker({
                position: location,
                map: map,
                title: title
            });

            var infowindow = new google.maps.InfoWindow({
                content: title
            });

            userMarker.addListener('click', function() {
                infowindow.open(map, userMarker);
            });
        };
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@Configuration["GoogleKey"]&callback=initMap"></script>