@model User

@{ ViewBag.Title = "Offer";}
<div class="panel panel-default">
   
    <div class="row page-box">

        <div class="col">
            <h2 class="mb-0 mt-2" style="padding-left:10px">@Model.UserName</h2>
            <div class="fa-photo" style="height:90px; padding-left:10px" id="previewMarkdown">
               <img src="@Model.Photo" /> 
            </div>
            <div class="pt-2">
                <a asp-action="Edit" asp-route-id="@Model.Id">
                    <button class="btn btn-rounded btn-primary mx-2">
                        <i class="fas fa-edit pr-2"></i>
                        Edit
                    </button>
                </a>
                @Html.ActionLink("Create Group", "GroupCreate", "Group", null, new { @class = "btn btn-primary" })

            </div>
        </div>
        <div class="col">
            <div class="offer-details">
                @if (!Model.Location.Equals(null))
                {
                <div>
                    <label>Location:</label>
                    <span>@Model.Location</span>
                </div>
                }
                <div>
                    <label>Email:</label>
                    <span>@Model.Email</span>
                </div>
                <div>
                    <label>Email:</label>
                    <span>@Model.PhoneNumber</span>
                </div>
                <div>
                    <label>Created:</label>
                    <span>@Model.UserName</span>
                </div>
                

            </div>

        </div>
      
    </div>
</div>

