@model User

@{ ViewBag.Title = "Profile";}
<div class="panel panel-default">

    <div class="row page-box">

        <div class="col">
            <h2 class="mb-0 mt-2" style="padding-left:10px">@Model.UserName</h2>
            <div class="fa-photo" style="height:90px; padding-left:10px" id="previewMarkdown">
                <img src="@Model.Photo" />
            </div>
            <div class="pt-2">
                @Html.ActionLink("Logout", "Logout", "Meeter", null, new { @class = "btn btn-primary" })

                @Html.ActionLink("Get your location", "Location", "Meeter", null, new { @class = "btn btn-primary" })

                @Html.ActionLink("Set your location", "SetLocation", "Meeter", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Create Group", "GroupCreate", "Group", null, new { @class = "btn btn-primary" })

            </div>
        </div>
        <div class="col">
            <div class="offer-details">


                <div>
                    <label>Email:</label>
                    <span>@Model.Email</span>
                </div>
                @if (Model.PhoneNumber != null)
                {
                <div>
                    <label>Phone:</label>
                    <span>@Model.PhoneNumber</span>
                </div>
                }
                <div>
                    <label>Created:</label>
                    <span>@Model.UserName</span>
                </div>
                <div>
                    <label>Location:</label>
                    <span>@ViewData["locationlat"]</span>
                    <span>@ViewData["locationlng"]</span>
                </div>


            </div>

        </div>

    </div>
</div>
<h2>Created groups</h2>
<div class="panel panel-default">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Group Name</th>
                <th scope="col">Creator ID</th>
                <th scope="col"> Events</th>
                @*<th style="width: 20px"></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.CreatedGroups)
            {
                <tr>


                    <td>@Html.ActionLink(group.Id.ToString(), "GetGroupInfo","Group", new { groupid = group.Id })</td>
                    <td>@Html.DisplayFor(modelItem => group.Name)</td>
                    <td>@Html.DisplayFor(modelItem => group.Creatorid)</td>
                    <td>
                        <table>


                            @foreach (var Event in group.Events)
                            {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => Event.EventName)</td>
                                <td>@Html.DisplayFor(modelItem => Event.DateTime)</td>
                            </tr>
                            }
                        </table>
                    </td>
                    @*<td>
                            <a href="@Url.Action("Edit", "JobOffer", new { id = offer.Id })"
                               class="text-primary">
                                <i class="fas fa-edit"
                                   title="Edit"></i>
                            </a>
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
   

</div>
