@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model User

@{ ViewBag.Title = "Profile";}
<div class="panel panel-default">

    <div class="row page-box" style="margin-top: 10px">

        <div class="col">
            <div class="row">
                <h2 class="mb-0 mt-2" style="padding-left:10px; padding-right: 10px">@Model</h2>
                @if (this.User.IsInRole("Admin"))
                {
                    <button type="button" class="btn btn-info">Admin</button>
                }
            </div>
            <div class="fa-photo" style="height:90px; padding-left:10px" id="previewMarkdown">
                <img src="@Model.Photo" />
            </div>
            <div class="pt-2">
                @Html.ActionLink("Logout", "Logout", "Meeter", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Set your location", "SetLocation", "Meeter", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Create Group", "GroupCreate", "Group", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col">
            <div>
                <label>Email:</label>
                <span>@Model.Email</span>
            </div>
            @if (Model.PhoneNumber != null)
            {
                <div>
                    <label>Phone:</label>
                    <span>@Model.PhoneNumber</span>
                </div>
            }
            @if (!(Model.LocationId is null))
            {
                <div>
                    <label>Location:</label>
                    <span>@Model.Location</span>
                    <div id="map" style="height: 200px"></div>
                </div>
            }
        </div>
    </div>
    <h2>Created groups</h2>
    <div class="panel panel-default">
        @await Html.PartialAsync("~/Views/Group/GroupsTable.cshtml", Model.CreatedGroups)
    </div>
</div>

<script type="text/javascript" src="@Url.Content("../../style_silver.js")"></script>
<script type="text/javascript">

    function initMap() {
        if (@ViewData["location"] == true) {
            alert(@Model.LocationId);
            var map_center = { lat: @ViewData["lat"], lng: @ViewData["lng"] };
            generateMap(map_center);
        }
    }

    function generateMap(map_center) {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: map_center,
            disableDefaultUI: true,
            styles: style_silver // or style_retro
        });

        var marker = new google.maps.Marker({
            position: map_center,
            map: map
        });

        var infowindow = new google.maps.InfoWindow;
        infowindow.setContent('@Model.Location');
        infowindow.open(map, marker);
    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@Configuration["GoogleKey"]&callback=initMap"></script>